<% if signed_in? %>

<% else %>


<div class="center hero-unit">
  <h1>Welcome to Ethio Tender App</h1>

  <h2>
    This is the home page for the
    <%= link_to "Ethio Tender App on the Cloud", root_path %>
    .
  </h2>

  <%= link_to "Sign up now!", register_company_path , class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), root_path %>
<% end %>

