<% @user ||= current_user %>
<div class="stats">
<table>
<tr>
<td>

<span id="following" class="stat">

</span>
</a>
</td>
<td>

<span id="followers" class="stat">

</span>
</a>
</td>
</tr>
</table>
</div>


